.recipePage {
    display: flex;
    justify-content:space-between;
    padding: 50px;
}

.recipeImage {
    border-radius: 20px;
}

.recipeCard {
    display: flex;
    flex-direction: column;
    width: 597px;    
}

.recipeTitle {
    font-family: var(--font-anton);
    font-size: 26px;
    font-weight: 400;
    padding: 20px 0 0 0;
}

.labels {
    font-family: var(--font-manrope);
    font-size: 16px;
    font-weight: 700;
    color: #A7A7A7;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    padding: 35px 0 10px 0;
}

.recipeTime {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 76px;
    height: 32px;
    background: #FFD15B;
    color: #1B1B1B;
    font-family: var(--font-manrope);
    font-size: 16px;
    font-weight: 400;
    border-radius: 14px;
}


.ingredientsGrid {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px 20px;
    padding: 0;
}

.ingredientName {
    display: block;
    font-family: var(--font-manrope);
    font-weight: 500;
    font-size: 16px;
    color: #1B1B1B;
}

.ingredientQty {
    display: block;
    font-family: var(--font-manrope);
    font-weight: 400;
    font-size: 14px;
    color: #7A7A7A;
}

.recipeDescription {
    font-family: var(--font-manrope);
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 5px;
    color: #1B1B1B;
    list-style: none;
}
